#head{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head select{
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    padding: 5px;
    background-color: transparent;
}
#footer{
    width: 100%;
    background-color: rgb(243, 234, 234);
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 20px;
}
#info{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#info>div{
    margin: auto;
    height: 100%;
}
#info>div img{
    width: 50%;
    cursor: pointer;
}
#info>div p{
    color: gray;
    text-align: left;
}
#main{
    width: 80%;
    margin: auto;
}
