
.home{
    display: flex;
    align-items: center;
    width: 20%;
    margin: auto;
    
}
.home img{
    width: 30%;
    margin-right: 7px;
}
.nav{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 98%;
    margin: auto;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.user{
    display: flex;
    align-items: center;

}
.user img{
    width: 20%;
    margin-right: 7px;
}
.log{
    display: flex;
    width: 15%;
    margin: auto;
    justify-content: space-evenly;
    
}
.info{
    display: flex;
    width: 25%;
    margin: auto;
    
    justify-content: space-between;
}